@model Bg_Fishing.MvcClient.Areas.Moderator.Models.LocationViewModel
@{
    ViewBag.Title = "Добавяне на локация";
}

@section HeaderScripts {
    <script src="~/Scripts/secret/config.js"></script>
}

<div class="row">
    @using (@Html.BeginForm())
    {
        <div class="container col-sm-5 col-sm-offset-1">
            <h3>Въведи координати</h3>
            @Html.LabelFor(m => m.LocationName, new { @class = "label label-succes" })
            @Html.TextBoxFor(m => m.LocationName, new { @class = "form-control" })

            @Html.LabelFor(m => m.Latitude, new { @class = "label label-succes" })
            @Html.TextBoxFor(m => m.Latitude, new { @class = "form-control" })

            @Html.LabelFor(m => m.Longitude, new { @class = "label label-succes" })
            @Html.TextBoxFor(m => m.Longitude, new { @class = "form-control" })

            @Html.LabelFor(m => m.Info, new { @class = "label label-succes" })
            @Html.TextAreaFor(m => m.Info, new { @class = "form-control" })

            <input type="submit" id="add" class="btn btn-primary" value="Добави" />
            <div id="result"></div>
        </div>
    }
    
        <div class="container col-sm-5">
            <h3>Вземи координати от адрес</h3>
            <label class="label label-succes">Адрес</label>
            <input type="text" id="address-input" class="form-control" />
            <p>Ако не намерите търсените координати, въведете името на града заедно с кода на страната за по-добър резултат.</p>
            <h4>Координати за: <span id="search-result" class="text-info"></span></h4>
            <input type="submit" id="geo-click" class="btn btn-primary" value="Координати" />
        </div>
</div>

@section PageScripts {
    <script src="~/Scripts/page-scripts/add-location.js"></script>
    <script src="~/Scripts/page-scripts/get-coordinates.js"></script>
}
