<li>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        Менажиране на галериите
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <div>
                        @Html.ActionLink("Ново видео", "Add", "Video", new { Area = "Moderator" }, new { })
                    </div>
                    <div>
                        @Html.ActionLink("Премахване на видео", "Remove", "Video", new { Area = "Moderator" }, new { })
                    </div>
                    <div>
                        @Html.ActionLink("Нова снимка", "Add", "Image", new { Area = "Moderator" }, new { })
                    </div>
                    <div>
                        @Html.ActionLink("Премахване на снимка", "Remove", "Image", new { Area = "Moderator" }, new { })
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        Язовири
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <div>
                        @Html.ActionLink("Добавяне на язовир", "Add", "Lake", new { Area = "Moderator" }, new { })
                    </div>
                    <div>
                        @Html.ActionLink("Премахване на язовир", "Remove", "Lake", new { Area = "Moderator" }, new { })
                    </div>
                    <div>
                        @Html.ActionLink("Обновяване рибата в язовир", "UpdateFish", "Lake", new { Area = "Moderator" }, new { })
                    </div>
                    <div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThird">
                            Риби
                        </a>
                    </h4>
                </div>
                <div id="collapseThird" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div>
                            @Html.ActionLink("Добавяне на риба", "Add", "Fish", new { Area = "Moderator" }, new { })
                        </div>
                        <div>
                            @Html.ActionLink("Премахване на риба", "Remove", "Fish", new { Area = "Moderator" }, new { })
                        </div>
                        <div>
                        </div>
                        @Html.ActionLink("Обновяване на риба", "Edit", "Fish", new { Area = "Moderator" }, new { })
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseForth">
                        Други
                    </a>
                </h4>
            </div>
            <div id="collapseForth" class="panel-collapse collapse">
                <div class="panel-body">
                    <div>
                        @Html.ActionLink("Добавяне на новина", "Index", "News", new { Area = "Moderator" }, new { })
                    </div>
                    <div>
                        @Html.ActionLink("Добавяне на локация", "Add", "Location", new { Area = "Moderator" }, new { })
                    </div>
                    <div>
                        @Html.ActionLink("Премахване на локация", "Remove", "Location", new { Area = "Moderator" }, new { })
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>