@model Bg_Fishing.MvcClient.Models.AddImageViewModel

@{
    ViewBag.Title = "Качване на снимка";
}

@section PageStyles{
    <link href="~/Content/page-styles/add-image.css" rel="stylesheet" />
}

<div class="container">
    <div class="col-sm-8 col-sm-offset-2">
        @using (Html.BeginForm("Add", "Pictures", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="form-group row col-sm-12">
                <div class="col-sm-6">
                    @{
                        @Html.LabelFor(m => m.SelectedImageGalleryId, new { @class = "label label-success", @for = "lakes-list" })
                        <select class="form-control" id="lakes-list" name="SelectedLakeId">
                            <option>-----</option>
                            @foreach(var lake in Model.Lakes)
                            {
                                <option value="@lake.Id">@lake.Name</option>
                            }
                        </select>
                    }
                </div>

                <div class="col-sm-6">
                    @Html.LabelFor(m => m.Name, new { @class = "label label-success", @for = "galleries-list" })
                    <select class="form-control" id="galleries-list"  name="SelectedImageGalleryId" disabled>
                    </select>
                </div>
                <div class="form-group col-sm-12">
                    <label for="name-input" class="label label-success">Създай нова галерия</label>
                    @Html.TextBoxFor(m => m.Name, new { @id = "name-input", @class = "form-control", @disabled = "disabled" })

                    @Html.LabelFor(m => m.ImageInfo, new { @class = "label label-success" })
                    @Html.TextAreaFor(m => m.ImageInfo, new { @class = "form-control", @rows = 6 })
                </div>
                <div class="form-group col-sm-12">
                    <label for="image-upload-container" class="label label-success">Избери файл</label>
                    <div id="image-upload-container" class="fileinput fileinput-new input-group col-sm-8" data-provides="fileinput">
                        <div class="form-control" data-trigger="fileinput">
                            <i class="glyphicon glyphicon-file fileinput-exists"></i>
                            <span class="fileinput-filename"></span>
                        </div>
                        <span class="input-group-addon btn btn-default btn-file">
                            <span class="fileinput-new">
                                <span class="glyphicon glyphicon-level-up"></span>
                            </span>
                            <span class="fileinput-exists">Change</span>
                            <input type="file" name="file">
                        </span>
                        <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                    </div>
                </div>
                <div class="img-container col-sm-12">
                    <div class="error-messages"></div>
                    <img class="img-preview" />
                </div>
            </div>
            <input type="submit" value="Добави" class="btn btn-success" />
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@section PageScripts {
    <script src="/Scripts/page-scripts/file-upload-plugin.js"></script>    
    <script src="~/Scripts/page-scripts/add-image.js"></script>
}
