@model Bg_Fishing.MvcClient.Areas.Moderator.Models.AddVideoViewModel
@{
    ViewBag.Title = "Add video";
}

<div class="container">
    <h3>Добавяне на ново видео</h3>
    <p id="result"></p>
    <hr />

    <div id="content">
        <div class="add-video-container col-sm-8">
            @using (@Html.BeginForm())
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div id="category">
                    <div class="col-sm-6">
                        @Html.LabelFor(m => m.GalleryId, new { @class = "label label-primary" })
                        @Html.DropDownListFor(m => m.GalleryId, Model.GalleryNames, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.GalleryId, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-8">
                        @Html.LabelFor(m => m.NewGalleryName, new { @class = "label label-primary" })
                        @Html.TextBoxFor(m => m.NewGalleryName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.NewGalleryName, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-8">
                        @Html.LabelFor(m => m.VideoTitle, new { @class = "label label-primary" })
                        @Html.TextBoxFor(m => m.VideoTitle, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.VideoTitle, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-12">
                    @Html.LabelFor(m => m.VideoUrl, new { @class = "label label-primary" })
                    @Html.TextBoxFor(m => m.VideoUrl, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.VideoUrl, "", new { @class = "text-danger" })
                    <input type="submit" id="video-upload" class="btn-small btn-primary" value="Добави" />
                </div>
            }
        </div>
        <div class="remove-video-container" hidden>
            <h3>Премахване на видео от галерията.</h3>
        </div>
    </div>
</div>

<script>
    $('#video-upload').on('click', (ev) => {
        ev.preventDefault();
        $.ajax({
            method: 'POST',
            url: '@Url.Action("Add")',
            data: $('form').serialize(),
            cache: false,
            success: (data) => {
                if (data.status === 'success') {
                    $('#result').removeClass('text-danger').addClass('text-success').html(data.message);
                } else {
                    $('#result').removeClass('text-success').addClass('text-danger').html(data.message);
                }
            },
            error: (err) => {
                $('#result').removeClass('text-success').addClass('text-danger').html(err.message);
            }
        })
    })
</script>