<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")

</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <div class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid page-scroll">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                @Html.ActionLink("Bg-Fishing", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="body-content">
        <div id="header-container">
            @Html.Partial("_CommonHeaderPartial")
        </div>
        @RenderBody()
    </div>

    @Html.Partial("_FooterPartial")

    @RenderSection("scripts", required: false)

    <!-- Theme JavaScript -->
    <script src="~/Scripts/themes-scripts/clean-blog.js"></script>

    <!-- Site scripts-->
    <script>
        $(document).ready(function() {
            $(this).scrollTop(0);
        })
    </script>
</body>

</html>
