<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Fishing web app, where users can find all needed information for their hobby." />
    <title>@ViewBag.Title</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/Images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/Images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/Images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/Images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/Images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/Images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/Images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/Images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/Images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/Images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/Images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/Images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/Images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    @Styles.Render("~/Content/css")
    @RenderSection("PageStyles", required: false)
    @RenderSection("HeaderScripts", required: false)
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <div class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                @Html.ActionLink("Bg-Fishing", "Index", "Home", new { Area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    @Html.Partial("_NavPartial")
                </ul>
                @Html.Partial("_SearchPartial")
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="body-content">
        @RenderBody()
    </div>

    @Html.Partial("_FooterPartial")

    @RenderSection("scripts", required: false)
    <!-- Site scripts-->
    <script src="/Scripts/page-scripts/nav-partial-script.js"></script>
    <script src="~/Scripts/page-scripts/search.js"></script>
    @RenderSection("PageScripts", required: false)

</body>

</html>
