@model Bg_Fishing.MvcClient.Areas.Moderator.Models.UpdateFishViewModel
@{
    ViewBag.Title = "Обновяване рибата в язовира.";
}

<div class="container">
    @using (@Html.BeginForm())
    {
        <div class="col-sm-5 col-sm-offset-1">
            <p id="result"></p>
            @Html.LabelFor(m => m.Lakes, new { @class = "label label-warning" })
            <select id="SelectedLake" class="form-control">
                <option>-----</option>
                @foreach (var lake in Model.Lakes)
                {
                    <option value="@lake.Name">@lake.Name</option>
                }
            </select>
        </div>
        <div class="col-sm-5 col-sm-offset-1">
            @Html.LabelFor(m => m.SelectedFish, new { @class = "label label-warning" })
            <select id="SelectedFish" class="form-control" multiple>
                @foreach (var fish in Model.Fish)
                {
                    <option value="@fish.Name">@fish.Name</option>
                }
            </select>
        </div>
        <br />
       <div class="col-sm-10 text-center">
           <input type="submit" id="add" class="btn btn-primary" value="Добави" />
           <input type="submit" id="remove" class="btn btn-danger" value="Премахни" />
       </div>
    }
</div>

@section PageScripts {
    <script src="~/Scripts/page-scripts/update-fish.js"></script>
    }