@model Bg_Fishing.MvcClient.Areas.Moderator.Models.AddNewsViewModel

@{
    ViewBag.Title = "Добавянe на новина";
}

<div class="container">
    <h3 class="text-center">@ViewBag.Title</h3>

    <div class="row col-sm-8 col-sm-offset-2">
        @if (TempData["AddNewsSuccess"] != null)
        {
            <p class="text-success">@TempData["AddNewsSuccess"]</p>
        }

        @using (Html.BeginForm("Index", "News", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Title, new { @class = "label label-info" })
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <label for="file-value" class="label label-success">Изберете снимка</label>
                <input type="file" id="file-value" class="btn" name="file" />
                <span id="file-status"></span>
                <p>Максимален размер на снимката: <strong class="text-danger">3 Mb</strong></p>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Content, new { @class = "label label-info" })
                @Html.TextAreaFor(m => m.Content, new { @class = "form-control" })
            </div>
            <input type="submit" class="btn btn-default" value="Добави" />
        }
    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")

@section PageScripts {
<script type="text/javascript">
  $(function() {
      $('#file-value').bind('change', function () {
          let fileSize = this.files[0].size,
              maxSize = 3 * 1024 * 1000;

          if (fileSize > maxSize) {
              $('#file-status').addClass('text-danger')
                  .html('Избрания файл надвишава допустимия размер. Ако не го замените с валиден, ще бъде сложена снимката по подразбиране зададена на сървъра!')
          } else {
              $('#file-status').addClass('text-success')
                  .html('Големината на файла е в разрешения максимум.')
          }

      });
  });
</script>    
}